@charset 'utf-8';

// Abstracts
@import 'abstracts/variables';

// Base
@import 'base/base';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/utility';

// Components
@import 'components/breadcrumbs';
@import 'components/buttons';
@import 'components/section-description';
@import 'components/sidebar';

// Layout
@import 'layout/header';
@import 'layout/footer';

// Pages
@import 'pages/main-page';
@import 'pages/products';
@import 'pages/product';



