/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .container {
        max-width: 960px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    header.with-background {
        .top-nav {
            flex-direction: column;

            .logo {
                margin: auto;
            }

            ul {
                margin: 20px auto 0;
                width: 80%;
            }
        }
        .hero {
            grid-template-columns: 1fr;
            text-align: center;

            .hero-image {
              padding-left: 0;
              margin-top: 40px;
            }
        }
    }

    .featured-section {
        padding: 50px 0;

    .products {
        grid-template-columns: 1fr;
        }
    }

    .blog-section {
      .blog-posts {
        grid-template-columns: 1fr;
        text-align: center;
        grid-template-areas:
            "blog3"
            "blog2"
            "blog1";

        .blog-post {
            margin-top: 30px;
        }

      }
    }

    .footer-content {
        flex-direction: column;

        .made-with {
            margin: auto;
        }

        ul {
            margin: 20px auto;
            width: 60%;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
